APP_KEY=your_app_key_here
DB_PASSWORD=your_db_password
MYSQL_ROOT_PASSWORD=your_mysql_root_password
NOMAD_USER=your_username
NOMAD_PASSWORD=your_nomad_password
URL=http://prepper.local
NPM_API_URL=http://npm:81
NPM_EMAIL=your_email@example.com
NPM_PASSWORD=your_npm_password
TOGGLE_PORT=8090
